<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.question.comment.model.dao.AnswerMapper">

	<select id="selectQeustionDetail" 
    		resultType="AnswerDto">
        SELECT
            	ANSWER_NO  
              , CONTENT    
              , USER_NAME  
              , CREATE_DATE  
              , UPDATED     
              , BOARD_NO  
              , USER_ID 
        FROM
            	QUESTION_ANSWER
        JOIN
            	PLOGUES_USER PU ON USER_ID = USER_ID
        WHERE
            	BOARD_NO = #{boardNo}
        AND 
        		DELETED = 'N'
        ORDER 
        BY
            	COMMENT_NO ASC
    </select>
	<insert id="saveComment" parameterType="AnswerDto">
        INSERT
          INTO
               QUESTION_ANSWER
        VALUES 
               (
               SEQ_PLG_QA.NEXTVAL 
             , #{userId}
             , #{boardNo}
             , SYSDATE
             , #{content}
             , 'ORIGINAL' 
             , 'N'
               )
    </insert>
    
    <update id="updateComment">
	    UPDATE
	           QUESTION_ANSWER
	       SET 
	           CONTENT = #{content}
	         , UPDATED = 'EDITED'   
	     WHERE 
	           BOARD_NO = #{boardNo}
	       AND
	           ANSWER_NO = #{answerNo} 
	       AND
	           DELETED = 'N'          
	</update>
    
    <update id="deleteComment">
	    UPDATE
	           QUESTION_ANSWER
	       SET
	           DELETED = 'Y'
	     WHERE
	           BOARD_NO = #{boardNo}
	       AND
	           ANSWER_NO = #{answerNo} 
	</update>
	
	<select id="selectAnswerList"
			resultType="AnswerDto">
        SELECT
            	QA.ANSWER_NO  
              , QA.CONTENT    
              , USER_NAME  
              , QA.CREATE_DATE  
              , QA.UPDATED     
              , QA.BOARD_NO  
              , QA.USER_ID 
        FROM
            	QUESTION_ANSWER QA
        JOIN
            	PLOGUES_USER PU ON PU.USER_ID = QA.USER_ID
        WHERE
            	BOARD_NO = #{boardNo}
        AND 
        		QA.DELETED = 'N'
        ORDER 
        BY
            	ANSWER_NO ASC
	</select>


</mapper>
