<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iso.plogues.board.model.dao.BoardMapper">

<select id="selectBoardList" resultType="BoardDto">

    SELECT
    RB.BOARD_NO AS boardNo,
    RB.TITLE AS title,
    PU.USER_NAME AS writer,
    RB.CREATE_DATE AS createDate,
    RB.VIEW_COUNT AS views
    FROM
    REVIEW_BOARD RB
    JOIN
    PLOGUES_USER PU
    ON
    RB.USER_ID = PU.USER_ID
    WHERE
    RB.DELETED = 'N'
    <if test="keyword != null and keyword != ''">
        AND RB.TITLE LIKE '%' || #{keyword} || '%'
    </if>
    ORDER BY
    RB.BOARD_NO DESC

    OFFSET #{page.offset} ROWS

    FETCH NEXT #{page.boardLimit} ROWS ONLY

</select>	
	    <select id="selectMyBoardList"
            resultType="BoardDto">

        SELECT
    			RB.BOARD_NO AS boardNo,
		        RB.TITLE AS title,
		        PU.USER_NAME AS writer,
		        RB.CREATE_DATE AS createDate,
		        RB.VIEW_COUNT AS views,
		        RB.CONTENT AS content,
		        RB.USER_ID AS userId,
		        RB.UPDATED AS updated
		FROM 	
				REVIEW_BOARD RB
		JOIN 
				PLOGUES_USER PU
		ON 
				RB.USER_ID = PU.USER_ID
		WHERE 
				RB.DELETED = 'N'
		  AND
		        RB.USER_ID = #{userId}
		ORDER BY 
				RB.BOARD_NO DESC
				
		OFFSET #{pi.offset} ROWS
		
		FETCH NEXT #{pi.boardLimit} ROWS ONLY
				
   

    </select>


	<select id="countBoardList" resultType="int">
    SELECT COUNT(*)
    FROM REVIEW_BOARD RB
    WHERE RB.DELETED = 'N'
    <if test="keyword != null and keyword != ''">
        AND RB.TITLE LIKE '%' || #{keyword} || '%'
    </if>
</select>
	
	    <select id="countMyBoardList"
            resultType="int">

        SELECT COUNT(*)
        FROM REVIEW_BOARD
        WHERE DELETED = 'N'
        AND USER_ID = #{userId}

    </select>

	<select id="selectBoardDetail"
		resultType="BoardDto">
		SELECT
		RB.BOARD_NO AS boardNo,
		RB.TITLE AS title,
		PU.USER_NAME AS writer,
		RB.CREATE_DATE AS createDate,
		RB.CONTENT AS content,
		RB.UPDATED AS updated,
		RB.USER_ID AS userId
		FROM
		REVIEW_BOARD RB
		JOIN
		PLOGUES_USER PU ON RB.USER_ID = PU.USER_ID
		WHERE
		RB.BOARD_NO = #{boardNo}
		AND
		RB.DELETED = 'N'
	</select>

	<select id="selectFileList"
		resultType="com.iso.plogues.util.file.FileDto">
		SELECT
		FILE_NO AS fileNo,
		ORIGIN_NAME AS originName,
		CHANGE_NAME AS changeName,
		FILE_PATH AS filePath,
		DELETED AS deleted,
		BOARD_NO AS refBoardNo
		FROM
		REVIEW_FILE
		WHERE
		BOARD_NO = #{boardNo}
		AND
		DELETED = 'N'
	</select>
	
	
	<insert id="insertBoard"
		useGeneratedKeys="true"
		keyProperty="boardNo"
		keyColumn="BOARD_NO">
		INSERT
		INTO
		REVIEW_BOARD
		(
		BOARD_NO,
		TITLE,
		CONTENT,
		USER_ID
		)
		VALUES
		(
		SEQ_REVIEW_BOARD.NEXTVAL,
		#{title},
		#{content},
		#{userId}
		)
	</insert>

	<update id="updateBoard">
		UPDATE
		REVIEW_BOARD
		SET
		TITLE = #{title},
		CONTENT = #{content},
		UPDATED = 'Y'
		WHERE
		USER_ID = #{userId}
		AND
		BOARD_NO = #{boardNo}
	</update>

	<update id="increaseViewCount">
    	UPDATE 
    			REVIEW_BOARD
    	SET 
    			VIEW_COUNT = VIEW_COUNT + 1
    	WHERE 
    			BOARD_NO = #{boardNo}
	</update>
	
	<update id="deleteBoard">
		UPDATE 
		REVIEW_BOARD
		SET
		DELETED = 'Y'
		WHERE
		USER_ID = #{userId}
		AND
		BOARD_NO = #{boardNo}
	</update>


</mapper>