<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.iso.plogues.join.chat.model.dao.ChatMapper">
  	<insert id="saveChat">
  		INSERT 
  		  INTO 
  		       JOIN_CHAT
  		VALUES 
  		       (
			   SEQ_PLG_JC.NEXTVAL
			 , #{requestNo}
			 , #{content}
			 , SYSDATE
			 , 'N'
			 , 'N'
			   )
  	</insert>
  </mapper>