<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.join.model.dao.JoinMapper">
  <insert id="saveJoin">
  	<selectKey keyProperty="joinNo"
               resultType="long"
               order="BEFORE">
        SELECT SEQ_PLG_JB.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT
      INTO
           JOIN_BOARD
    VALUES 
           (
			 #{joinNo}
		   , #{userId}
		   , #{category}
		   , #{participants}
		   , #{region}
		   , #{startDate}
		   , #{endDate}
		   , #{title}
		   , #{content}
		   , 'N'
		   , 'N'
		   , SYSDATE
		   )
  </insert>
  <select id="listCount" resultType="_int">
  	SELECT 
  	       COUNT(*)
  	  FROM 
  	       JOIN_BOARD
  	 WHERE 
  	       DELETED = 'N'
  </select>
  <sql id="joinColumns">
  	SELECT 
  	       JOIN_NO
  	     , USER_ID
  	     , CATEGORY
  	     , PARTICIPANTS
  	     , REGION
  	     , START_DATE
  	     , END_DATE
  	     , TITLE
  	     , CONTENT
  	     , CREATE_DATE
  	  FROM 
  	       JOIN_BOARD
  	 WHERE 
  	       DELETED = 'N'
  </sql>
  <select id="findAllPlant" resultType="joinDto">
  	<include refid="joinColumns"/>
  	   AND 
  	       CATEGORY = 'PLANT'
  	 ORDER 
  	    BY 
  	       JOIN_NO DESC
  	OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
  </select>
  <select id="findAllPlog" resultType="joinDto">
  	<include refid="joinColumns"/>
  	   AND 
  	       CATEGORY = 'PLOG'
  	 ORDER 
  	    BY 
  	       JOIN_NO DESC
  	OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
  </select>
  <select id="findAllByHost" resultType="joinDto">
  	<include refid="joinColumns"/>
  	   AND 
  	       USER_ID = #{userId}
  	 ORDER 
  	    BY 
  	       JOIN_NO DESC
  	OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
  </select>
  
  <select id="findByJoinNo" resultType="joinDto">
  	<include refid="joinColumns"/>
  	   AND 
  	       JOIN_NO = #{joinNo}
  </select>
  <update id="deleteJoin">
  	UPDATE 
  	       JOIN_BOARD
  	   SET 
  	       DELETED = 'Y'
  	 WHERE 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </update>
  <update id="updateJoin">
  	UPDATE 
  	       JOIN_BOARD
  	   SET 
  	       PARTICIPANTS = #{participants}
  	     , REGION = #{region}
  	     , START_DATE = #{startDate}
  	     , END_DATE = #{endDate}
  	     , TITLE = #{title}
  	     , CONTENT = #{content}
  	     , UPDATED = 'Y'
  	 WHERE 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </update>
</mapper>