<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.join.model.dao.JoinMapper">
  <insert id="saveJoin">
  	<selectKey keyProperty="joinNo"
               resultType="long"
               order="BEFORE">
        SELECT SEQ_PLG_JB.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT
      INTO
           JOIN_BOARD
    VALUES 
           (
			 #{joinNo}
		   , #{userId}
		   , #{category}
		   , #{participants}
		   , #{region}
		   , #{startDate}
		   , #{endDate}
		   , #{title}
		   , #{content}
		   , 'N'
		   , 'N'
		   , SYSDATE
		   )
  </insert>
  
  <select id="listCount" resultType="_int">
    SELECT
           COUNT(*)
     FROM
          JOIN_BOARD
    WHERE
          DELETED = 'N'
    <if test="keyword != null and keyword != ''">
      AND
  	      REGION LIKE '%'||#{keyword}||'%'
  	</if>
  </select>

  <select id="hostListCount" resultType="_int">
    SELECT
           COUNT(*)
      FROM
           JOIN_BOARD
     WHERE
           DELETED = 'N'
       AND
           USER_ID = #{userId}
    <if test="category != null and category != 'ALL'">
       AND CATEGORY = #{category}
    </if>
  </select>
	  
  <sql id="joinColumns">
  	SELECT 
           b.JOIN_NO
         , b.USER_ID
         , b.CATEGORY
         , b.PARTICIPANTS
         , b.REGION
         , b.START_DATE
         , b.END_DATE
         , b.TITLE
         , b.CONTENT
         , b.CREATE_DATE
         , (SELECT COUNT(*) 
              FROM JOIN_REQUEST sub_r 
             WHERE sub_r.JOIN_NO = b.JOIN_NO 
               AND sub_r.STATUS = 'ACCEPTED') AS CURRENT_COUNT
  </sql>
  
  <sql id="join">
         , r.USER_ID AS REQ_USER_ID
         , r.JOIN_REQUEST_NO AS REQ_NO
         , f.FILE_PATH || f.CHANGE_NAME AS PROFILE
      FROM 
           JOIN_BOARD b
      JOIN 
           JOIN_REQUEST r ON b.JOIN_NO = r.JOIN_NO
      JOIN 
           PLOGUES_USER u ON r.USER_ID = u.USER_ID
      LEFT JOIN 
           USER_FILE f ON u.USER_ID = f.USER_ID
     WHERE 
           b.DELETED = 'N'
       AND 
           r.STATUS = 'ACCEPTED'
  </sql>
  
  <resultMap id="joinDtoMap" type="JoinDto">
    <id property="joinNo" column="JOIN_NO" />
    <result property="userId" column="USER_ID" />
    <result property="category" column="CATEGORY" />
    <result property="participants" column="PARTICIPANTS" />
    <result property="region" column="REGION" />
    <result property="startDate" column="START_DATE" />
    <result property="endDate" column="END_DATE" />
    <result property="title" column="TITLE" />
    <result property="content" column="CONTENT" />
    <result property="createDate" column="CREATE_DATE" />
    
    <result property="currentCount" column="CURRENT_COUNT" />
    
    <collection property="userProfiles" ofType="ParticipantDto">
    	<id property="joinRequestNo" column="REQ_NO"/>
        <result property="userId" column="REQ_USER_ID" />
        <result property="profile" column="PROFILE" />
    </collection>
  </resultMap>
  
  <select id="findAllPlant" resultMap="joinDtoMap">
  	<include refid="joinColumns"/>
  	<include refid="join"/>
  	   AND 
  	       b.CATEGORY = 'PLANT'
    <if test="keyword != null and keyword != ''">
      AND
  	      REGION LIKE '%'||#{keyword}||'%'
  	</if>
  	 ORDER 
  	    BY 
  	       b.JOIN_NO DESC
  	OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
  </select>
  
  <select id="findAllPlog" resultMap="joinDtoMap">
  	<include refid="joinColumns"/>
  	<include refid="join"/>
  	   AND 
  	       b.CATEGORY = 'PLOG'
    <if test="keyword != null and keyword != ''">
       AND
  	       REGION LIKE '%'||#{keyword}||'%'
  	</if>
  	 ORDER 
  	    BY 
  	       b.JOIN_NO DESC
  	OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
  </select>
  
  <select id="findAllByHost" resultMap="joinDtoMap">
  	<include refid="joinColumns"/>
  	<include refid="join"/>
  	   AND 
  	       b.USER_ID = #{userId}
  	  <if test="category != null and category != 'ALL'">
        AND b.CATEGORY = #{category}
      </if>
  	 ORDER 
  	    BY 
  	       b.JOIN_NO DESC
  	OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
  </select>
  
  <select id="findByJoinNo" resultType="DetailJoinDto">
  	<include refid="joinColumns"/>
  		 , u.USER_NAME
  	  FROM 
  	       JOIN_BOARD b
  	  JOIN 
           PLOGUES_USER u ON b.USER_ID = u.USER_ID
     WHERE 
           b.DELETED = 'N'
  	   AND 
  	       b.JOIN_NO = #{joinNo}
  </select>
  
  <update id="deleteJoin">
  	UPDATE 
  	       JOIN_BOARD
  	   SET 
  	       DELETED = 'Y'
  	 WHERE 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </update>
  
  <update id="updateJoin">
  	UPDATE 
  	       JOIN_BOARD
  	   SET 
  	       PARTICIPANTS = #{participants}
  	     , REGION = #{region}
  	     , START_DATE = #{startDate}
  	     , END_DATE = #{endDate}
  	     , TITLE = #{title}
  	     , CONTENT = #{content}
  	     , UPDATED = 'Y'
  	 WHERE 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </update>
</mapper>