<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iso.plogues.notice.model.dao.NoticeMapper">

<select id="selectNoticeList" resultType="NoticeDto">

    	SELECT
            	NB.NOTICE_NO AS noticeNo,
            	NB.CATEGORY AS category,
            	NB.TITLE AS title,
            	PU.USER_NAME AS writer,
            	NB.CREATE_DATE AS createDate,
            	NB.VIEW_COUNT AS views,
            	(
    			SELECT 
    					NF.FILE_PATH || NF.CHANGE_NAME
    			FROM 
    					NOTICE_FILE NF
    			WHERE 
    					NF.NOTICE_NO = NB.NOTICE_NO
      			AND 
      					NF.DELETED = 'N'
    			ORDER 
    			BY 		NF.FILE_NO ASC
    			
    			FETCH FIRST 1 ROWS ONLY
				) 
				AS thumbnailPath
    	FROM
            	NOTICE_BOARD NB
    	JOIN
            	PLOGUES_USER PU
    	ON
            	NB.USER_ID = PU.USER_ID
    	WHERE
            	NB.DELETED = 'N'
    	AND
            	NB.CATEGORY = #{category}
    	ORDER
    	BY
            	NB.NOTICE_NO DESC

    OFFSET #{pi.offset} ROWS

    FETCH NEXT #{pi.boardLimit} ROWS ONLY

</select>

	<select id="countNoticeList"
		resultType="int">

		SELECT 
				COUNT(*)
		FROM 
				NOTICE_BOARD
		WHERE 
				DELETED = 'N'
		AND 
				CATEGORY = #{category}

	</select>

	<select id="selectNoticeDetail"
		resultType="NoticeDto">
		SELECT
				NB.NOTICE_NO AS noticeNo,
				NB.CATEGORY AS category,
				NB.TITLE AS title,
				PU.USER_NAME AS writer,
				NB.CREATE_DATE AS createDate,
				NB.CONTENT AS content,
				NB.UPDATED AS updated
		FROM
				NOTICE_BOARD NB
		JOIN
				PLOGUES_USER PU 
		ON 
				NB.USER_ID = PU.USER_ID
		WHERE
				NB.NOTICE_NO = #{noticeNo}
		AND
				NB.DELETED = 'N'
	</select>

	<select id="selectFileList"
		resultType="com.iso.plogues.util.file.FileDto">
		SELECT
				FILE_NO AS fileNo,
				ORIGIN_NAME AS originName,
				CHANGE_NAME AS changeName,
				FILE_PATH AS filePath,
				DELETED AS deleted,
				NOTICE_NO AS refBoardNo
		FROM
				NOTICE_FILE
		WHERE
				NOTICE_NO = #{noticeNo}
		AND
				DELETED = 'N'
	</select>
	
	<update id="updateNotice">
    	UPDATE
            	NOTICE_BOARD
    	SET
            	TITLE = #{notice.title},
            	CONTENT = #{notice.content},
            	CATEGORY = #{notice.category},
            	UPDATED = 'Y'
    	WHERE
            	NOTICE_NO = #{notice.noticeNo}
        AND
            	DELETED = 'N'
</update>
	
	<update id="increaseViewCount">
    	UPDATE 
    			NOTICE_BOARD
    	SET 
    			VIEW_COUNT = VIEW_COUNT + 1
    	WHERE 
    			NOTICE_NO = #{noticeNo}
    		
	</update>

	<update id="deleteNotice">
    	UPDATE 
    			NOTICE_BOARD
    	SET 
    			DELETED = 'Y'
   		WHERE
        		NOTICE_NO = #{noticeNo}
	</update>

	<insert id="insertNotice"
    		useGeneratedKeys="true"
    		keyProperty="notice.noticeNo"
    		keyColumn="NOTICE_NO">
    	INSERT
    	INTO
    		NOTICE_BOARD
    		(
    		NOTICE_NO,
    		CATEGORY,
    		TITLE,
    		CONTENT,
    		USER_ID
    		)
    		VALUES
    		(
    		SEQ_NOTICE_BOARD.NEXTVAL,
    		#{notice.category},
    		#{notice.title},
    		#{notice.content},
    		#{notice.userId}
    		)
	</insert>
	
	
</mapper>