<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iso.plogues.proof.model.dao.ProofMapper">


	<insert id="save" parameterType="com.iso.plogues.proof.model.vo.Proof">

		<selectKey keyProperty="proofNo" resultType="long" order="BEFORE">
			SELECT SEQ_PLG_PB.NEXTVAL FROM DUAL
		</selectKey> 
		INSERT 
		  INTO
				PROOF_BOARD 
			   ( 
				PROOF_NO
			   , USER_ID
			   , JOIN_NO
			   , TITLE
			   , CATEGORY
			   , QUANTITY
			   , CONTENT
			   , CREATE_DATE
			   , DELETED
			   , UPDATED 
			   ) 
		VALUES 
			   ( 
				  #{proofNo}
			    , #{userId}
			    , #{joinNo}
			    , #{title}
			    , #{category}
			    , #{quantity}
			    , #{content}
			    , SYSDATE
			    , 'N'
			    , 'N' 
			    ) 
	</insert>


	<sql id="proofColumns">
		SELECT
		        PROOF_NO
			  , USER_ID
			  , JOIN_NO
			  , TITLE
			  , CATEGORY
			  , QUANTITY
			  , CONTENT
			  , CREATE_DATE
		  FROM
			   PROOF_BOARD
		  WHERE
			   DELETED = 'N'
	</sql>


	<select id="findByProofNo"
		resultType="ProofDto">

		<include refid="proofColumns" /> 
		AND 
			PROOF_NO = #{proofNo} 
	</select>

	<select id="listCount" resultType="_int">

		SELECT
			   COUNT(*)
		  FROM
			   PROOF_BOARD
		 WHERE
			   DELETED = 'N'
		<if test="category != 'ALL'">
		   AND
			   CATEGORY = #{category}
		</if> 
	</select>


	<select id="findAll" resultType="ProofDto">
		SELECT
		        P.PROOF_NO
			  , P.USER_ID
			  , P.JOIN_NO
			  , P.TITLE
			  , P.CATEGORY
			  , P.QUANTITY
			  , P.CONTENT
			  , P.CREATE_DATE
			  , UF.FILE_PATH || UF.CHANGE_NAME AS USER_PROFILE
			  , PF.FILE_PATH || PF.CHANGE_NAME AS BOARD_PROFILE
		   FROM
			    PROOF_BOARD P
		   LEFT
	       JOIN
	            USER_FILE UF ON UF.USER_ID = P.USER_ID
	       LEFT
	       JOIN 
	            PROOF_FILE PF
	         ON 
	         	PF.FILE_NO = ( 
	     SELECT 
	     		MAX(FILE_NO)
	       FROM 
	      		PROOF_FILE
	      WHERE 
	      		PROOF_NO = P.PROOF_NO
	      	AND 
	      		FILE_LEVEL = 1	
	      	AND 
	      		DELETED = 'N'
	     	  )	
		  WHERE
			    P.DELETED = 'N'
		<if test="category != 'ALL'">
		    AND	  
			    P.CATEGORY = #{category}
		</if> 
		  ORDER 
		     BY 
		   	    P.PROOF_NO DESC 
	   OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY 
	</select>

	<update id="deleteProof">

		UPDATE
			   PROOF_BOARD

		   SET
			   DELETED = 'Y'

		 WHERE
			   USER_ID = #{userId}

		   AND
			   PROOF_NO = #{proofNo}

	</update>
	
	<update id="updateProof">

		UPDATE 
				PROOF_BOARD
		   SET
		 		TITLE = #{title}

		 	  , CATEGORY = #{category}
		 	  , QUANTITY = #{quantity}
		 	  , CONTENT = #{content}
		 	  , UPDATED = 'Y'
		  WHERE
				PROOF_NO = #{proofNo}
			AND
				USER_ID = #{userId}

	</update>
	
	<select id="treeCountByYear" resultType="TreeCountDto">
		SELECT
		       EXTRACT(YEAR FROM CREATE_DATE) AS YEAR,
		       SUM(QUANTITY) AS TREE_COUNT
		  FROM
		       PROOF_BOARD
		 WHERE
		       CATEGORY = 'PLANT'
		   AND
		       DELETED = 'N'
		 GROUP
		    BY
		       EXTRACT(YEAR FROM CREATE_DATE)
	</select>
	
	<select id="countByJoinNo" resultType="int">
    	SELECT 
    		   COUNT(*)
    	 FROM 
    	 	   PROOF_BOARD
    	 WHERE 
    	 	   JOIN_NO = #{joinNo}
      	   AND 
      	   	   DELETED = 'N'
</select>


</mapper>