<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.question.model.dao.QuestionMapper">

    <insert id="save">
    	<selectKey keyProperty="boardNo"
    	           resultType="long"
    	           order="BEFORE">
    		SELECT SEQ_PLG_QB.NEXTVAL FROM DUAL
    	</selectKey>
        INSERT
          INTO
               QUESTION_BOARD
       	VALUES
               (
               #{boardNo}
             , #{userId}
             , #{title}
             , #{category}
             , SYSDATE
             , #{content}
             , 'WAITING'
             , 'N'
               )
    </insert>
    
	<select id="findByAll">
	    SELECT *
	      FROM 
	           QUESTION_BOARD
	     WHERE
	           DELETED = 'N'
	        <if test="category != 'ALL'">
	       AND 
	           CATEGORY = #{category}
	        </if>
	        <if test="updated !='ALL'">
	       AND 
	           UPDATED = #{updated}
	        </if>
	     ORDER BY BOARD_NO DESC
	</select>
	
	<select id="findByUser">
	    SELECT *
	      FROM 
	           QUESTION_BOARD
	    <where>
	           DELETED = 'N'
	       AND
	           USER_ID = #{userId}
	        <if test="category != 'ALL'">
	       AND 
	           CATEGORY = #{category}
	        </if>
	    </where>
	     ORDER BY BOARD_NO DESC
	</select>
	
	<select id="listCount" resultType="int">
	    SELECT
	           COUNT(*)
	      FROM
	           QUESTION_BOARD
	    <where>
	           DELETED = 'N'
	        <if test="category != 'ALL'">
	       AND 
	           CATEGORY = #{category}
	        </if>
	        <if test="updated != 'ALL'">
	       AND 
	           UPDATED = #{updated}
	        </if>
	    </where>
	</select>
	
	<select id="listCountByUser" resultType="int">
	    SELECT
	           COUNT(*)
	      FROM
	    	   QUESTION_BOARD
	     WHERE 
	     	   DELETED = 'N'
	       AND
	           USER_ID = #{userId}
	
	        <if test="category != 'ALL'">
	       AND 
	           CATEGORY = #{category}
	        </if>
	</select>
	
	<select id="findByOne" resultType="QuestionDto">
        SELECT
               BOARD_NO
	         , USER_ID
	         , TITLE
	         , CATEGORY
	         , CREATE_DATE
	         , CONTENT
	         , UPDATED
	         , DELETED
         FROM 
               QUESTION_BOARD
        WHERE 
               BOARD_NO = #{boardNo}
          AND
               DELETED = 'N'
    </select>
	
	<select id="findBoardStatus" resultType="QuestionDto">
	    SELECT 
	            USER_ID AS userId
	          , DELETED AS deleted
	      FROM 
	            QUESTION_BOARD 
	     WHERE 
	            BOARD_NO = #{boardNo}
	</select>
	
	<update id="deleteByQuestion">
	    UPDATE
	            QUESTION_BOARD
	       SET 
	            DELETED = 'Y'
	     WHERE 
	            BOARD_NO = #{boardNo}
	</update>
	
	<update id="restoreByQuestion">
	    UPDATE
	           QUESTION_BOARD
	       SET 
	           DELETED = 'N'
	     WHERE 
	           BOARD_NO = #{boardNo}
	</update>
	
	<!-- 답변 완료 상태로 업데이트 -->
    <update id="updateStatus">
        UPDATE
               QUESTION_BOARD
           SET
               UPDATED = 'COMPLETED'
         WHERE
               BOARD_NO = #{boardNo}
    </update>
	
</mapper>