<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iso.plogues.report.model.dao.ReportMapper">
	<insert id="saveReport">
		INSERT INTO REPORT_BOARD
		VALUES
			   (
				  SEQ_PLG_RB.NEXTVAL
			    , #{userId}
			    , #{reportCategory}
			    , #{boardType}
			    , #{content}
			    , SYSDATE
			    , 'N'
			    , 'N'
			    , #{targetNo}
			   )
	</insert>
	<select id="listCount" resultType="_int">
	  	SELECT 
	  			COUNT(*)
	  	  FROM
	  	  		REPORT_BOARD
		 WHERE	
		 		DELETED = 'N'  		
	</select>
	
	<sql id="reportColumns">
		SELECT
				REPORT_NO
			  , USER_ID
			  , REPORT_CATEGORY
			  , BOARD_TYPE
			  ,	CONTENT
			  ,	CREATE_DATE
			  ,	UPDATED
			  , DELETED
			  , TARGET_NO
	      FROM
	      		REPORT_BOARD
	     WHERE
	     		DELETED = 'N' 			
	</sql>
	
	<select id="findAll" resultType="reportDto">
		<include refid="reportColumns"/>
		 ORDER
		    BY
		   		REPORT_NO DESC
		OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
	</select>
	












</mapper>