<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iso.plogues.report.model.dao.ReportMapper">
	<insert id="saveReport">
		INSERT INTO REPORT_BOARD
		VALUES
			   (
				  SEQ_PLG_RB.NEXTVAL
			    , #{userId}
			    , #{reportCategory}
			    , #{boardType}
			    , #{content}
			    , SYSDATE
			    , 'N'
			    , 'N'
			    , #{targetNo}
			   )
	</insert>
	<select id="listCount" resultType="_int">
	  	SELECT 
	  			COUNT(*)
	  	  FROM
	  	  		REPORT_BOARD
		 WHERE	
		 		DELETED = 'N'
	       <if test="updated != 'ALL'">
		   AND
		       UPDATED = #{updated}
		   </if>
		   <if test="reportCategory != 'ALL'">
		   AND
		       REPORT_CATEGORY = #{reportCategory}
		   </if>
		   <if test="boardType != 'ALL'">
		   AND
		       BOARD_TYPE = #{boardType}
		   </if>
	</select>

	<select id="findAll" resultType="reportDto">	
	SELECT
		   O.REPORT_NO
		 , O.USER_ID
		 , O.REPORT_CATEGORY
		 , O.BOARD_TYPE
		 , O.CONTENT
		 , O.CREATE_DATE
		 , O.UPDATED
		 , O.DELETED
		 , O.TARGET_NO
		 , C.REPORT_COUNT
	  FROM
	  	   REPORT_BOARD O
	  JOIN
	       (SELECT
	       BOARD_TYPE
	     , TARGET_NO
	     , COUNT(*) AS REPORT_COUNT
	  FROM
	       REPORT_BOARD
	 GROUP
	    BY
	       BOARD_TYPE, TARGET_NO) C
	    ON 
	       O.BOARD_TYPE = C.BOARD_TYPE
	   AND
	       O.TARGET_NO = C.TARGET_NO
	 <where>
	 	<if test="report.updated != 'ALL'">
	   AND
	       O.UPDATED = #{report.updated}
	    </if>
	   <if test="report.reportCategory != 'ALL'">
	   AND
	       O.REPORT_CATEGORY = #{report.reportCategory}
	   </if>
	   <if test="report.boardType != 'ALL'">
	   AND
	       O.BOARD_TYPE = #{report.boardType}
	   </if>
	 </where>
	 ORDER
	    BY
	   		O.REPORT_NO DESC
	OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
	</select>

	<select id="existsReport" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		REPORT_BOARD
		 WHERE
		 		USER_ID = #{userId}
		   AND
		   		TARGET_NO = #{targetNo}
		   AND
		   		BOARD_TYPE = #{boardType}
		   AND
		   		DELETED = 'N'
	</select>


	<update id="completeReport">
		UPDATE
		       REPORT_BOARD
		   SET
		       UPDATED = 'Y'
		 WHERE
		       REPORT_NO = #{reportNo}
		   AND
		       UPDATED = 'N'
	</update>

	  <select id="checkTarget" resultType="_int">
	    SELECT
	           COUNT(*)
	      FROM (
	           SELECT
	                  PROOF_NO AS TARGET_NO
	             FROM
	                  PROOF_BOARD
	            WHERE
	                  DELETED = 'N'
	             
	         UNION ALL
	             
	            SELECT
	                   JOIN_NO AS TARGET_NO
	              FROM
	                   JOIN_BOARD
	             WHERE
	                   DELETED = 'N'
	             
	         UNION ALL
	             
	            SELECT
	                   BOARD_NO AS TARGET_NO
	              FROM
	                   REVIEW_BOARD
	             WHERE
	                   DELETED = 'N'
	           )
	       WHERE TARGET_NO = #{targetNo}
  </select>








</mapper>