<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.request.model.dao.RequestMapper">
  
  <select id="countByUserIdJoinNo" resultType="_int">
	SELECT
	       COUNT(*)
	  FROM
	       JOIN_REQUEST
	 WHERE
	       JOIN_NO = #{joinNo}
	   AND
	       USER_ID = #{userId}
  </select>
  
  <select id="findByRequestNo" resultType="RequestDto">
  	SELECT
  	       JOIN_REQUEST_NO
  	     , ASPIRATION
  	     , STATUS
  	     , JR.JOIN_NO
  	     , JR.USER_ID
  	     , JB.USER_ID AS host
  	  FROM
  	       JOIN_REQUEST JR
  	  JOIN
  	       JOIN_BOARD JB ON(JB.JOIN_NO = JR.JOIN_NO)
  	 WHERE
  	       JOIN_REQUEST_NO = #{requestNo}
  </select>
  
  
  
  <insert id="requestJoin">
  	INSERT
  	  INTO
  	       JOIN_REQUEST
  	VALUES
  	       (
		   SEQ_PLG_JR.NEXTVAL
		 , #{aspiration}
		 , 'WAITING'
		 , #{joinNo}
		 , #{userId}
		   )
  </insert>
  
  <update id="requestAccept">
  	UPDATE
  	       JOIN_REQUEST
  	   SET
	       STATUS = 'ACCEPTED'
	 WHERE
  	       JOIN_REQUEST_NO = #{requestNo}    
  </update>

  <update id="requestDenied">
  	UPDATE
  	       JOIN_REQUEST
  	   SET
	       STATUS = 'DENIED'
	 WHERE
  	       REQUEST_NO = #{requestNo}    
  </update>
  
  
  
</mapper>