<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iso.plogues.join.request.model.dao.RequestMapper">
  
  <select id="countByUserIdJoinNo" resultType="_int">
	SELECT
	       COUNT(*)
	  FROM
	       JOIN_REQUEST
	 WHERE
	       JOIN_NO = #{joinNo}
	   AND
	       USER_ID = #{userId}
  </select>
  
  <select id="countAcceptByJoinNo" resultType="_int">
  	SELECT
  	       COUNT(*)
  	  FROM
  	       JOIN_REQUEST
  	 WHERE
  	       JOIN_NO = #{joinNo}
  	   AND
  	       STATUS = 'ACCEPTED'
  </select>
  
  <select id="findByRequestNo" resultType="RequestDto">
  	SELECT
  	       JOIN_REQUEST_NO
  	     , ASPIRATION
  	     , STATUS
  	     , JR.JOIN_NO
  	     , JR.USER_ID
  	     , JB.USER_ID AS host
  	  FROM
  	       JOIN_REQUEST JR
  	  JOIN
  	       JOIN_BOARD JB ON(JB.JOIN_NO = JR.JOIN_NO)
  	 WHERE
  	       JOIN_REQUEST_NO = #{requestNo}
  </select>
  
      <select id="countByHostStatus" resultType="_int">
  	SELECT
  	       COUNT(*)
  	  FROM
  	       JOIN_REQUEST JR
  	  JOIN
  	       JOIN_BOARD JB ON(JB.JOIN_NO = JR.JOIN_NO)
  	 WHERE
  	       JB.USER_ID = #{userId}
  	<if test="status != null and status != 'ALL'">
  	   AND
  	       JR.STATUS = #{status}
  	</if>
  </select>
  
  <select id="findAllRequest" resultType="RequestDto">
  	SELECT
  	       JOIN_REQUEST_NO
  	     , ASPIRATION
  	     , JR.STATUS
  	     , JR.JOIN_NO
  	     , JR.USER_ID AS USER_ID
  	     , JB.USER_ID AS HOST
  	     , JB.CATEGORY AS CATEGORY
  	     , JB.TITLE AS TITLE
  	     , JB.CREATE_DATE AS CREATE_DATE
  	  FROM
  	       JOIN_REQUEST JR
  	  JOIN
  	       JOIN_BOARD JB ON(JB.JOIN_NO = JR.JOIN_NO)
  	 WHERE
  	       JB.USER_ID = #{userId}
  	<if test="status != null and status != 'ALL'">
  	   AND
  	       JR.STATUS = #{status}
  	</if>
  	 ORDER
  	    BY
  	       JOIN_REQUEST_NO DESC
  	OFFSET
  	       #{offset} ROWS
	 FETCH
	  NEXT
	       #{boardLimit} ROWS ONLY
  </select>
  
  
    <select id="countMyJoins" resultType="_int">
  	SELECT
  	       COUNT(*)
  	  FROM
  	       JOIN_REQUEST JR
  	  JOIN
  	       JOIN_BOARD JB ON(JB.JOIN_NO = JR.JOIN_NO)
  	 WHERE
  	       JR.USER_ID = #{userId}
  	<if test="status != null and status != 'ALL'">
  	   AND
  	       JR.STATUS = #{status}
  	</if>
  </select>
  
  <select id="findAllMyJoins" resultType="RequestDto">
  	SELECT
  	       JOIN_REQUEST_NO
  	     , ASPIRATION
  	     , JR.STATUS
  	     , JR.JOIN_NO
  	     , JR.USER_ID AS USER_ID
  	     , JB.USER_ID AS HOST
  	     , JB.CATEGORY AS CATEGORY
  	     , JB.TITLE AS TITLE
  	     , JB.CREATE_DATE AS CREATE_DATE
  	  FROM
  	       JOIN_REQUEST JR
  	  JOIN
  	       JOIN_BOARD JB ON(JB.JOIN_NO = JR.JOIN_NO)
  	 WHERE
  	       JR.USER_ID = #{userId}
  	<if test="status != null and status != 'ALL'">
  	   AND
  	       JR.STATUS = #{status}
  	</if>
  	 ORDER
  	    BY
  	       JOIN_REQUEST_NO DESC
  	OFFSET
  	       #{offset} ROWS
	 FETCH
	  NEXT
	       #{boardLimit} ROWS ONLY
  </select>
  
  
  
  
  <insert id="saveRequest">
  	INSERT
  	  INTO
  	       JOIN_REQUEST
  	VALUES
  	       (
		   SEQ_PLG_JR.NEXTVAL
		 , #{aspiration}
		 , <choose>
		 	 <when test="status == null">
                 'WAITING'
             </when>
             <otherwise>
                 #{status}
             </otherwise>
          </choose>
		 , #{joinNo}
		 , #{userId}
		   )
  </insert>
  
  <update id="requestAccept">
  	UPDATE
  	       JOIN_REQUEST
  	   SET
	       STATUS = 'ACCEPTED'
	 WHERE
  	       JOIN_REQUEST_NO = #{requestNo}    
  </update>

  <update id="requestDenied">
  	UPDATE
  	       JOIN_REQUEST
  	   SET
	       STATUS = 'DENIED'
	 WHERE
  	       JOIN_REQUEST_NO = #{requestNo}    
  </update>
  
  <delete id="requestCanceled">
    DELETE
      FROM
           JOIN_REQUEST
     WHERE
           JOIN_REQUEST_NO = #{requestNo}
  </delete>

  <select id="findByUserIdJoin" resultType="RequestDto">
  	SELECT 
  	       JOIN_REQUEST_NO
  	     , ASPIRATION
  	     , STATUS
  	     , JOIN_NO
  	     , USER_ID
  	  FROM 
  	       JOIN_REQUEST
  	 WHERE 
  	       STATUS = 'ACCEPTED'
  	   AND 
  	       USER_ID = #{userId}
  	   AND 
  	       JOIN_NO = #{joinNo}
  </select>

  
</mapper>
